body{
    background-color: #362D32;
}

h3{
    font: 18px, "montserrat", arial, sans-serif;
    color : #0FB09B;
    padding-left:3%;
    padding-top: 3%;
    padding-left:10%;
}

.contact{
    display: flex;
    flex-direction : column;
    gap: 20px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
}/*disposition formulaire contact*/

.contact label{
    display: block;
    padding-bottom: 2%;
    color: #FAF5F9;
}/*disposition des label du formulaire contact*/

.contact input::placeholder{
    font: 12px "Montserrat", arial,sans-serif;
    color: #000000;
}/*changement placeholder (écriture dans champs)*/

#btn_envoyer{
    align-self: flex-end;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    color : #FAF5F9;
    font-size: 14px;
    background-color: #009B4D;
}/*style bouton envoyer*/


@media (min-width : 1440px) {
    .contact{
        padding-right: 30%
    }
    .contact label{
        font-size: 14px;
        padding-top: 2%;
        padding-bottom: 1%;
    }
    .contact input::placeholder{
        font-size: 16px
    }
    #btn_envoyer{
        font-size: 20px
    }
    h3{font-size:35px}
}