body{
    background-color: #362D32;
}

.rechercher{
    display: flex;
    flex-direction : column;
    gap: 10px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 15%;
    padding-bottom: 5%;
}/*disposition formulaire rechercher*/

.rechercher input::placeholder{
    font: 12px "Poppins", arial,sans-serif;
    color: #000000;
}

.rechercher input{
    width: 50%;
}

#btn_rechercher{
    align-self: flex-end;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    color : #FAF5F9;
    font-size: 14px;
    background-color: #009B4D;
}/*mise en page bouton rechercher*/

.result{
    font : 12px "poppins", arial, sans-serif;
    color : #ffffff;
    padding-left: 5%;
    list-style: none;
    padding-right: 15%;
}

.result li{
    margin-bottom: 20px;
} /*espace entre les résultats*/

.covoiturage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photo{
    width: 100px;
}

.pseudo{
    font: 18px "montserrat", arial, sans-serif;
    margin-bottom: 10px;
}

.place{
    display: none;
}/*ne pas afficher nbre place sur version mobile*/

.ecologique{
    display: none;
}

.prix{
    font: 18px "montsserrat", arial, sans-serif;
    color: #0FB09B;
    margin-bottom: 30px;
}
#lien_detail{
    font: 14px "montserrat", arial, sans-serif;
    color: #00964D;
}

.details{
    padding-right: 10%;
}

.prix_detail{
    padding-left: 10%;
}

#no_date{
    font : 12px "poppins", arial, sans-serif;
    color : #ffffff;
    padding-left: 5%; 
}
.no_results{
    font : 12px "poppins", arial, sans-serif;
    color : #ffffff;
    padding-left: 5%; 
}


@media (min-width : 1440px) {
    .rechercher{ 
        flex-direction : row; /*passer les champs en ligne*/
        justify-content: space-between;
        align-items: center;
        gap: 5%;
        padding-right: 20%;
        padding-left: 12%
    }
    .rechercher input::placeholder{
        font-size: 16px;
    }
    .rechercher input{width: 150%;}
    #btn_rechercher{font-size: 20px}
    .result{
        font-size: 16px;
        padding-left: 10%;
    }
    .covoiturage{margin-bottom: 50px}
    .photo{width: 300px;}
    .pseudo{
        font-size: 25px;
        margin-bottom: 50px;
    }
    .place{display: flex;}/*faire appareitre info sur bureau*/
    .ecologique{display: flex;}
    .prix{
        font-size: 35px;
        margin-bottom: 70px;
    }
    #lien_detail{font-size: 20px;}
    .details{padding-right: 20%;}
    .prix_detail{padding-right: 7%;}
    #no_date{
        font-size : 16px; 
        padding-left: 10%; 
    }
    .no_results{
        font-size : 16px; 
        padding-left: 10%; 
    }


  }   /*adaptation formulaire grand écran*/


