*{ 
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
} /*remise à zéro*/

header{
    border: 0px solid white;
    background-color: #001233;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }/*bandeau header*/

#logo{
   display: block;
   width : 40%;
   max-height : 100%;
   padding-left : 5%;
}
.accueil{
  display: inline-block;
  margin: 0;
  padding:0;
  text-decoration: none;
}

nav{ 
  width: 100%;
  margin: 0px auto;
  padding : 10px auto;
  top: 0px;
  font: 14px "poppins", arial,sans-serif;
}/*style navigation*/

nav a{
  display: flex;
  gap: 5%;
  text-decoration: none;
  color:#009B4D;
}

nav ul{
  list-style-type : none;
}

nav li{
  float: left;
  width: 25%;
  text-align: center;
}/*place mes éléments de navigation*/

#btn_connexion{
  border-radius: 5px;
  color : #FAF5F9;
  background-color: #009B4D;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width : 1440px) {
  nav{ font-size: 25px}
  #btn_connexion{font-size: 35px;}
  #logo{
  padding-left:15%;
  width: 60%; }
}   /*adaptation image et texte grand écran*/
