*{ 
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
} /*remise à zéro*/

header{
    border: 0px solid white;
    background-color: #001233;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }/*bandeau header*/

#logo{
   display: block;
   width : 100%;
   max-height : 100%;
   padding-left : 5%;
}

.accueil{
  /*display: inline-block;*/
  margin: 0;
  padding:0;
  text-decoration: none;
}/*lien du logo, pour essayer d'enlever l'espace*/

nav{ 
  width: 100%;
  margin: 0px auto;
  font: 14px "poppins", arial,sans-serif;
}/*style navigation*/

nav a{
  text-decoration: none;
  color:#009B4D;
}

nav ul{
  list-style-type : none;
  display : flex;
}/*.enleve les puces des liens*/

nav li{
  text-align: center;
}/*place mes éléments de navigation*/

nav ul li {
  margin: 0 30px; 
} /* Ajustez l'espacement entre les éléments de la liste */

#btn_connexion{
  border-radius: 5px;
  color : #FAF5F9;
  background-color: #009B4D;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
}/*style bouton connexion*/

@media (min-width : 1440px) {
  nav{ font-size: 25px}
  #btn_connexion{font-size: 35px;}
  #logo{padding-left:15%;}
  nav ul li {margin: 0 150px;}
}   /*adaptation image et texte grand écran*/
