body{
    background-color: #362D32;
}

h3{
    font: 18px, "montserrat", arial, sans-serif;
    color : #0FB09B;
    padding-left:3%;
    padding-top: 3%;
}

.modifier{
    display: flex;
    flex-direction : column;
    gap: 7px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
}
.modifier label{
    display: block;
    padding-bottom: 2%;
    color: #FAF5F9;
}

.modifier input::placeholder{
    font: 12px "Montserrat", arial,sans-serif;
    color: #000000;
}

#btn_mettre_jour{
    align-self: flex-end;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    color : #FAF5F9;
    font-size: 14px;
    background-color: #009B4D;
}


@media (min-width : 1440px) {
    .modifier{
        padding-right: 30%;
        padding-bottom: 3%;
    }
    .modifier label{
        font-size: 14px;
        padding-top: 2%;
        padding-bottom: 1%;
    }
    .modifier input::placeholder{
        font-size: 16px
    }
    #btn_mettre_jour{
        font-size: 20px
    }
    h3{font-size:35px}
}