body{
    background-color: #362D32;
}

h1{
    font: 25px, "montserrat", arial, sans-serif;
    color : #0FB09B;
    padding-left: 5%;
}

p{
    font: 12px "Montserrat", arial,sans-serif;
    color: #ffffff;
    padding-bottom: 5%;
    
    
}

.information{
    padding-left: 10%;
}



#btn_modifier{
    display: flex;
    text-decoration: none;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    color : #FAF5F9;
    font-size: 14px;
    background-color: #009B4D;
}

.role{
    display: flex;
    flex-direction : column;
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}/*disposition formulaire role*/

.roleMetier{
    
    gap: 20px;
}

.role label{
    padding-bottom: 5%;
    color: #FAF5F9;
}/*disposition label*/

.role input::placeholder{
    font: 12px "Montserrat", arial,sans-serif;
    color: #000000;
}/*changement placeholder (écriture dans champs)*/

#btn_valider{
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    color : #FAF5F9;
    font-size: 14px;
    background-color: #009B4D;
}

h3{
    font: 18px, "montserrat", arial, sans-serif;
    color : #0FB09B;
    padding-left:15%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.vehicule{
    font: 12px "Montserrat", arial,sans-serif;
    color: #ffffff;
    padding-left: 10%;
    padding-bottom: 3%;
}

#btn_ajouter{
    display: flex;
    text-decoration: none;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    color : #FAF5F9;
    font-size: 14px;
    background-color: #009B4D;
}