body{
    background-color: #362D32;
}

.mon_compte, .proposer_covoiturage{
    padding-left:10%;
    padding-top: 5%;
    padding-bottom: 3%;
}
.mon_compte{
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
}

#btn_modifier{
    align-self: flex-end;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 5px;
    color : #FAF5F9;
    font-size: 14px;
    background-color: #009B4D;
}

.mon_compte a, .proposer_covoiturage a{
    font: 18px "montserrat", arial, sans-serif;
    color: #0FB09B;
}

h3{
    font: 18px "montserrat", arial, sans-serif;
    color : #0FB09B;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left : 10%;
}

.preferences{
    font: 12px "Poppins", arial,sans-serif;
    color: #ffffff;
    padding-left: 10%;
    padding-bottom: 3%;
}

.covoiturage{
    font: 12px "Poppins", arial,sans-serif;
    color: #ffffff;
    padding-left: 5%;
    padding-bottom: 3%;
}

ul.covoiturage li{
    margin-bottom: 3%;
}

p{padding-bottom: 2%;}



@media (min-width : 1440px) {
    #btn_modifier{font-size: 20px}
    a{font-size: 22px;}
    h3{font-size: 22px;}
    .mon_compte{padding-right: 50%;}
    .covoiturage{font-size: 16px;}
    .preferences{font-size: 16px;}
    p{padding-bottom: 1%}
};

