body{
    background-color: #362D32;
}

a{
    font: 18px, "montserrat", arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color : #0FB09B;
    padding-left:10%;
    padding-top: 5%;
    padding-bottom: 3%;
}

h3{
    font: 18px, "montserrat", arial, sans-serif;
    color : #0FB09B;
    padding-left:3%;
    padding-top: 3%;
    padding-left:10%;
}
