<IfModule mod-rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /
    # empeche accès direct aux fichiers PHP dans public
    RewriteRule ^index\.php$ - [L] 
    # Si le fichier n'existe pas, on redirige vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
    
</IfModule>

